{block title}Přihlášení{/block}
{block description}Přihlášení uživatele{/block}

{block content}
<h1 class="heading">Přihlášení uživatele</h1>
<h2><a n:href=Article:default>Seznam článků</a></h2>
{control signInForm}

<p><a n:href=register>zaregistrujte se</a>.</p>