{block title}Registrace{/block}
{block description}Registrace nového uživatele{/block}

{block content}
<h1 class="heading">Registrace uživatele</h1>

<h2><a n:href=Article:default>Seznam článků</a></h2>

{* Formulář pro registraci. *}
{control signUpForm}